$darkgrey: #323232;
$orange: #F78434;

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins';
    margin: 0;
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
}

#wrapper {
    overflow: hidden;
}

input {
    font-family: inherit;
    outline: none;
}

.container {
    max-width: 1100px;
    margin: 0 auto;

    @media (max-width: 1200px) {
        max-width: 90%;
    }
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 40px auto;

    @media (max-width: 992px) {
        flex-direction: column;
    }

    &-list {
        display: flex;

        @media (max-width: 768px) {
            flex-direction: column;
            text-align: center;
            gap: 7px;
        }

        &-item {
            margin-left: 42px;

            &:hover {
                color: $orange;
            }

            a {
                color: $darkgrey;
                text-decoration: none;         
            }
        }
    }
}

.main-heading {
    color: $darkgrey;
    font-size: 54px;

    @media (max-width: 768px) {
        font-size: 30px;
    }
}

.intro {
    margin-bottom: 100px;

    @media (max-width:769px) {
        margin-bottom: 40px;
    }

    &-row {
        display: flex;
        align-items: center;

        @media (max-width: 576px) {
            flex-direction: column-reverse;
        }
    }

    .main-heading {
        width: 680px;
        position: relative;
        margin-bottom: 30px;

        @media (max-width: 768px) {
            width: auto;
        }
    }

    .col-1 {
        max-width: 52%;
    }

    .col-2 {
        max-width: 48%;
    }

    @media (max-width: 576px) {
        .col-1, .col-2 {
            max-width: 100%;
        }
    }

    &-img {
        @media (max-width: 1200px) {
            max-width: 40vw;
        }
    }

    .intro-form {
        overflow: hidden;
        width: 460px;
        position: relative;
        margin-top: 40px;

        @media (max-width: 576px) {
            max-width: 100%;
        }

        @media (min-width:576px) and (max-width:768px) {
            width: 350px;
        }
        &-input {
            box-shadow: 0px 17px 42px rgba(0, 0, 0, 0.12);
            border-radius: 29px;
            border: 0;
            padding: 20px 30px 20px 65px;
            width: 100%;

            &::placeholder {
                color: #BBBBBB;
            }

            @media (max-width: 480px) {
                padding-left: 30px;
            }
        }

        &:before {
            content: "";
            background-image: url(../img/email.svg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            width: 25px;
            height: 20px;
            position: absolute;
            left: 28px;
            transform: translateY(-50%);
            top: 50%;

            @media (max-width: 480px) {
                display: none;
            }
        }

        .btn {
            position: absolute;
            right: 0;
            height: 100%;
        }
    }
}

.btn, .use-btn{
    display: inline-block;
    background-color: $orange;
    color: white;
    font-weight: 700;
    padding: 18px 35px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    text-decoration: none;
}

.logo {
    margin-bottom: 105px;

    @media (max-width:769px) {
        margin-bottom: 30px;
    }

    &-list {
        display: flex;
        justify-content: space-between;

        @media (max-width:998px) {
            flex-direction: column;
            align-items: center;
        }
    }
}

.content {
    display: flex;
    align-items: center;
    margin-bottom: 140px;

    @media (max-width:769px) {
        flex-direction: column;
    }

    @media (max-width:992px) {
        margin-bottom: 70px;
    }

    .col-1 {
        display: flex;
        margin: auto;
        margin-left: -20%;
        margin-right: 180px;

        @media (min-width:769px) {
            max-width: 30%;
        }
    }

    &-img {
        margin-right: 32px;

        @media (max-width:998px) {
            max-width: 40vw;
            margin-right: 10px;
        }
    }

    &-img-2 {
        @media (max-width:576px) {
            width: 100%;
        }

        @media (max-width:998px) {
            max-width: 100%;
            margin-right: 10px;
        }
    }

    .col-2 {
        @media (min-width:769px) {
            max-width: 40%;
            margin-left: auto;
        }
    }

    .heading {
        margin-bottom: 20px;
    }

    .text {
        font-size: 16px;
    }

    // &:not(:last-child) {
    //     margin-bottom: 20px;
    // }

    .btn {
        margin-top: 40px;
        transition: background-color .2s;

        @media (max-width:769px) {
            margin-top: 10px;
        }

        &:hover {
            color: $orange;
            background-color: white;
        }
    }
}

.heading {
    font-size: 42px;
}

.use {
    background-image: url(../img/bg-use.jpg), linear-gradient(to top, #F5F6FA 50%, white 0%);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    padding: 59px 95px 0 0;

    @media (max-width: 769px) {
       padding: 0;
       margin-bottom: 20px;
    }
    
    .col {
        width: 50%;
        padding: 33px 0 91px 96px;
        margin-left: auto;

        @media (max-width: 576px) {
            width: 100%;
            padding: 0 0 220px 0;
        }

        @media (min-width:576px) and (max-width: 768px) {
            width: 100%;
            padding: 0 0 290px 0;
        }
                
        @media (min-width:769px) and (max-width:998px) {
            width: 50%;
            padding: 0px 0px 10px 90px;
        }
    }

    .heading {
        color: white;
        margin-bottom: 15px;

        @media (max-width:768px) {
            color: $darkgrey;
        }

        @media (min-width:769px) and (max-width:998px) {
            font-size: 26px;
        }
    }

    &-buttons {
        @media (min-width:769px) and (max-width:998px) {
            display: flex;
            width: 100%;
        }
    }

    .btn {
        margin-right: 20px;
        transition: background-color .2s;

        @media (min-width:769px) and (max-width:998px) {
            padding: 5px 5px;
        }

        &:hover {
            color: $orange;
            background-color: white;
        }
    }

    .text {
        color: white;
        margin-bottom: 30px;

        @media (max-width:769px) {
            font-size: 16px;
            color: black;
            margin-bottom: 20px;
        }
    }

    &-btn {
        background-color: white;
        color: $orange;
        transition: background-color .2s;

        &:hover {
            color: white;
            background-color: $orange
        }
    }

    .fa-caret-right {
        font-size: 18px;
        margin-right: 7px;
        transform: translateY(10%);

        &:hover {
            color: $orange;
            background-color: white;
        }
    }
}

.serve {
    background: linear-gradient(to bottom, #F5F6FA 70%, white 0%); 
    background-color: #F5F6FA;
    padding-top: 145px;

    @media (max-width:992px) {
        background:  linear-gradient(to bottom, #F5F6FA 100%, white 0%);
        padding-top: 70px;
    }

    .heading {
        text-align: center;
        margin-bottom: 10px;
    }

    .text {
        text-align: center;
        margin-bottom: 45px;
    }

    .row {
        display: flex;

        @media (max-width: 998px) {
            flex-direction: column;
        }

        .col {
            background-color: white;
            margin-right: 30px;
            transition: background-color .2s;

            &:hover {
                background-color: $orange;
                fill: white;
                stroke: white;
                color: white;
            }

            @media (max-width:998px) {
                margin-right: 0;
            }

            &:first-child {
              @media (max-width:998px) {
                  margin-bottom: 30px;
              }  
            }

            .icon-1 {
                fill: $orange; 
            }
        
            .btn {
                background-color: white;
                color: $orange;

                @media (max-width:998px) {
                    font-size: 20px;
                }
            }
        }

        .col-1 {

         .btn {
             background-color: white;
             color: $orange;
         }
        }

        .col, .col-1 {
            border-radius: 10px;
            text-align: center;
            padding: 40px 88px;
        }
    }
}

.choose {
    text-align: center;
    margin-bottom: 171px;

    @media (max-width: 1024px) {
        margin-bottom: 70px;
    }

    .heading {
        margin-bottom: 58px;

        @media (max-width:768px) {
            margin-bottom: 30px;
        }
    }

    .row {
        display: flex;

        @media (max-width:768px) {
            flex-direction: column;
        }

        .col {
            &:not(:last-child) {
                margin-right: 35px;

                @media (max-width:768px) {
                    margin-bottom: 30px;
                    margin-right: 0;
                }
            }
        }
    }

    .text {
        margin-top: 0;
    }

    &-heading {
        margin-bottom: 2px;
    }

    &-icon {
        margin-bottom: 15px;
        fill: #58BEBF;

        &:hover {
            fill: $orange;
        }

        @media (max-width:768px) {
            margin-bottom: 5px;
        }
    }
}

.thanks {
    .row {
        display: flex;
        align-items: center;
        margin-bottom: 58px;

        @media (max-width:576px) {
            flex-direction: column;
            text-align: center;
            margin-bottom: 30px;
        
        }

        .heading {
            max-width: 452px;
            margin-bottom: 0;

            @media (max-width:576px) {
                max-width: 100%;
            }
        }

        .text {
            max-width: 400px;
            margin-left: auto;

            @media (max-width:576px) {
                max-width: 100%;
            }
        }
    }

    .row-2 {
        display: flex;

        @media (max-width: 1024px) {
            flex-direction: column;
        }

        .col {
            max-width: 33%;
            margin-right: 30px;

            @media (max-width: 1024px) {
                max-width: 100%;
                text-align: center;
            }

            &:hover {
                box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
            }

            .thanks-content {
                padding: 31px 20px 31px 29px;
                display: flex;
                flex-direction: column;
                align-items: flex-start;

                @media (max-width: 1024px) {
                    text-align: center;
                    align-items: center;
                }

                .text {
                    margin-bottom: 23px;
                }

                .text-2 {
                    margin-bottom: 1px;
                    font-weight: 700;
                }

                .city {
                    color: #58BEBF;
                }
            }
        }
    }

}
.expert {
    background-image: url(../img/bg-expert.jpg);
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;
    position: relative;
    padding: 155px 0 56px;

    @media (max-width: 768px) {
        margin-top: 0;
        padding-top: 10px;
    }

    @media (max-width: 1024px) {
        margin-top: 0;
        padding-top: 100px;
    }

    &-img {
        position: absolute;
        bottom: 0;
        left: 50%;

        @media (max-width: 576px) {
            max-width: 50%;
            visibility: hidden;
        }

        @media (max-width: 992px) {
            max-width: 50%;
        }
    }

    .heading {
        @media (max-width: 768px) {
            margin-bottom: 0;
        }
    }

    .col {
        max-width: 350px;

        * {
            color: white;

            @media (max-width: 1350px) {
                color: $darkgrey;
            }
        }
    }

    .btn {
        background-color: #fff;
        margin-top: 40px;
        color: $darkgrey;
        transition: background-color .2s;

        &:hover {
            background-color: $orange;
            color: white;
        }
    }
}

.footer {
    padding: 85px 0;

    .footer-row {
        display: flex;

        @media (max-width: 992px) {
            flex-direction: column;
        }
    
        @media (max-width: 576px) {
            .col, .col-1 {
                flex-direction: column;
            }
        }
    
    }

    .col-1 {
        flex-basis: 40%;
        max-width: 40%;

        &-inner {
            max-width: 300px;
        }
    }

    .col {
        flex-basis: 20%;
        max-width: 20%;
    }

    .footer-heding {
        font-size: 21px;
        color: $darkgrey;
        margin: 0 0 20px;

        @media (max-width: 992px) {
            margin-top: 30px;
        }
    }

    .footer-list {
        &-item {
            margin-bottom: 15px;

            a {
                color: $darkgrey;
                text-decoration: none;
                font-size: 14px;
            }
        }
    }

    @media (max-width: 992px) {
        flex-direction: column;
    }

    @media (max-width: 576px) {
        .col, .col-1 {
            flex-basis: 100%;
            max-width: 100%;
        }
    }

    .social-links {
        margin-top: 40px;

        a {
            margin-right: 25px;
            font-size: 20px;

            &:hover {
                text-shadow: 2px 2px 3px $darkgrey;
            }

            .fa-facebook-square {
                color: #4267B2;
            }

            .fa-twitter {
                color: #1DA1F2;;
            }

            .fa-youtube {
                color: #FF0000;
            }

            .fa-linkedin-in {
                color: #006699;
            }
        }
    }
}