ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins';
  margin: 0;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#wrapper {
  overflow: hidden;
}

input {
  font-family: inherit;
  outline: none;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

@media (max-width: 1200px) {
  .container {
    max-width: 90%;
  }
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 40px auto;
}

@media (max-width: 992px) {
  .navbar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.navbar-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 768px) {
  .navbar-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    gap: 7px;
  }
}

.navbar-list-item {
  margin-left: 42px;
}

.navbar-list-item a {
  color: #323232;
  text-decoration: none;
}

.navbar-list-item.active a {
  color: #F78434;
  font-weight: 700;
}

.main-heading {
  color: #323232;
  font-size: 54px;
}

@media (max-width: 768px) {
  .main-heading {
    font-size: 30px;
  }
}

.intro {
  margin-bottom: 100px;
}

@media (max-width: 769px) {
  .intro {
    margin-bottom: 40px;
  }
}

.intro-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 576px) {
  .intro-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.intro .main-heading {
  width: 680px;
  position: relative;
  margin-bottom: 30px;
}

@media (max-width: 768px) {
  .intro .main-heading {
    width: auto;
  }
}

.intro .col-1 {
  max-width: 52%;
}

.intro .col-2 {
  max-width: 48%;
}

@media (max-width: 576px) {
  .intro .col-1, .intro .col-2 {
    max-width: 100%;
  }
}

@media (max-width: 1200px) {
  .intro-img {
    max-width: 40vw;
  }
}

.intro .intro-form {
  overflow: hidden;
  width: 460px;
  position: relative;
  margin-top: 40px;
}

@media (max-width: 576px) {
  .intro .intro-form {
    max-width: 100%;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .intro .intro-form {
    width: 350px;
  }
}

.intro .intro-form-input {
  -webkit-box-shadow: 0px 17px 42px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 17px 42px rgba(0, 0, 0, 0.12);
  border-radius: 29px;
  border: 0;
  padding: 20px 30px 20px 65px;
  width: 100%;
}

.intro .intro-form-input::-webkit-input-placeholder {
  color: #BBBBBB;
}

.intro .intro-form-input:-ms-input-placeholder {
  color: #BBBBBB;
}

.intro .intro-form-input::-ms-input-placeholder {
  color: #BBBBBB;
}

.intro .intro-form-input::placeholder {
  color: #BBBBBB;
}

@media (max-width: 480px) {
  .intro .intro-form-input {
    padding-left: 30px;
  }
}

.intro .intro-form:before {
  content: "";
  background-image: url(../img/email.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 25px;
  height: 20px;
  position: absolute;
  left: 28px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  top: 50%;
}

@media (max-width: 480px) {
  .intro .intro-form:before {
    display: none;
  }
}

.intro .intro-form .btn {
  position: absolute;
  right: 0;
  height: 100%;
}

.btn, .use-btn {
  display: inline-block;
  background-color: #F78434;
  color: white;
  font-weight: 700;
  padding: 18px 35px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  text-decoration: none;
}

.logo {
  margin-bottom: 105px;
}

@media (max-width: 769px) {
  .logo {
    margin-bottom: 30px;
  }
}

.logo-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 998px) {
  .logo-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 140px;
}

@media (max-width: 769px) {
  .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.content .col-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  margin-left: -20%;
  margin-right: 180px;
}

@media (min-width: 769px) {
  .content .col-1 {
    max-width: 30%;
  }
}

.content-img {
  margin-right: 32px;
}

@media (max-width: 998px) {
  .content-img {
    max-width: 40vw;
    margin-right: 10px;
  }
}

@media (max-width: 576px) {
  .content-img-2 {
    width: 100%;
  }
}

@media (max-width: 998px) {
  .content-img-2 {
    max-width: 100%;
    margin-right: 10px;
  }
}

@media (min-width: 769px) {
  .content .col-2 {
    max-width: 40%;
    margin-left: auto;
  }
}

.content .heading {
  margin-bottom: 20px;
}

.content .text {
  font-size: 16px;
}

.content:not(:last-child) {
  margin-bottom: 20px;
}

.content .btn {
  margin-top: 40px;
}

@media (max-width: 769px) {
  .content .btn {
    margin-top: 10px;
  }
}

.heading {
  font-size: 42px;
}

.use {
  background-image: url(../img/bg-use.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  padding: 59px 95px 0 0;
}

@media (max-width: 769px) {
  .use {
    padding: 0;
    margin-bottom: 20px;
  }
}

.use .col {
  width: 50%;
  padding: 33px 0 91px 96px;
  margin-left: auto;
}

@media (max-width: 576px) {
  .use .col {
    width: 100%;
    padding: 0 0 220px 0;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .use .col {
    width: 100%;
    padding: 0 0 290px 0;
  }
}

@media (min-width: 769px) and (max-width: 998px) {
  .use .col {
    width: 50%;
    padding: 0px 0px 10px 90px;
  }
}

.use .heading {
  color: white;
  margin-bottom: 15px;
}

@media (max-width: 768px) {
  .use .heading {
    color: #323232;
  }
}

@media (min-width: 769px) and (max-width: 998px) {
  .use .heading {
    font-size: 26px;
  }
}

@media (min-width: 769px) and (max-width: 998px) {
  .use-buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
  }
}

.use .btn {
  margin-right: 20px;
}

@media (min-width: 769px) and (max-width: 998px) {
  .use .btn {
    padding: 5px 5px;
  }
}

.use .text {
  color: white;
  margin-bottom: 30px;
}

@media (max-width: 769px) {
  .use .text {
    font-size: 16px;
    color: black;
    margin-bottom: 20px;
  }
}

.use-btn {
  background-color: white;
  color: #F78434;
}

.use .fa-caret-right {
  font-size: 18px;
  margin-right: 7px;
  -webkit-transform: translateY(10%);
          transform: translateY(10%);
}

.expert {
  background-image: url(../img/bg_expert.jpg);
  background-size: contain;
  background-position: bottom;
  background-repeat: no-repeat;
  position: relative;
  padding: 155px 0 56px;
}

.expert-img {
  position: absolute;
  bottom: 0;
  right: 20%;
}

.expert .col {
  max-width: 350px;
}

.expert .col * {
  color: white;
}

.expert .btn {
  background-color: #fff;
  margin-top: 40px;
  color: #323232;
}

.footer {
  padding: 85px 0;
}

.footer .footer-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 992px) {
  .footer .footer-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 576px) {
  .footer .footer-row .col, .footer .footer-row .col-1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer .col-1 {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  max-width: 40%;
}

.footer .col-1-inner {
  max-width: 300px;
}

.footer .col {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
  max-width: 20%;
}

.footer .footer-heding {
  font-size: 21px;
  color: #323232;
  margin: 0 0 20px;
}

@media (max-width: 992px) {
  .footer .footer-heding {
    margin-top: 30px;
  }
}

.footer .footer-list-item {
  margin-bottom: 15px;
}

.footer .footer-list-item a {
  color: #323232;
  text-decoration: none;
  font-size: 14px;
}

@media (max-width: 992px) {
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 576px) {
  .footer .col, .footer .col-1 {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    max-width: 100%;
  }
}

.footer .social-links {
  margin-top: 40px;
}

.footer .social-links a {
  margin-right: 25px;
  font-size: 20px;
}

.footer .social-links a .fa-facebook-square {
  color: #4267B2;
}

.footer .social-links a .fa-twitter {
  color: #1DA1F2;
}

.footer .social-links a .fa-youtube {
  color: #FF0000;
}

.footer .social-links a .fa-linkedin-in {
  color: #006699;
}
/*# sourceMappingURL=style.css.map */